
.box-content {
    margin: 25px;
    /* width: 75%; */
    height: 90vh;
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #065535;
    color: antiquewhite;
    padding: 10px;
    /* font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    
}

.picture {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.my-name {
    padding-top: 20px;
    margin-left: 20px;
}

.header-name {
    margin-left: 78%;
}

.description {
    margin-top: 40px;
    text-align: center;
    font-weight: lighter;
}

.home-quote {
    padding-top: 130px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 40px;
}

.footer-section {
    text-align: center;
    word-spacing: 5px;
    padding-bottom: 10px;
}