
/* base styling for all pages */
.box-content {
    margin: 25px;
    /* width: 75%; */
    height: 90vh;
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #065535 !important;
    color: antiquewhite;
    padding: 10px;
    /* font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.extended-box-content {
    height: 200vh;
}

.picture {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    height: 59vh;
    border: 4px solid antiquewhite;
}

.my-name {
    padding-top: 20px;
    margin-left: 20px;
}

.header-name {
    /* margin-left: 70px; */
    text-align: right;
    margin-right: 35px;
}

.description {
    margin-top: 40px;
    text-align: center;
    font-weight: lighter;
    margin-right: 35px;
}

.description:hover {
    color: #93c0e2;
}

.home-quote {
    padding-top: 130px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 40px;
}

.footer-section {
    text-align: center;
    word-spacing: 5px;
    padding-bottom: 10px;
}

/* about page styling images to the right (section-one) */

.about-section {
    box-sizing: content-box;
    padding-left: 26px;
    margin-top: -137px;
}

.about-divider {
    border: 4px solid antiquewhite;
    margin-right: 26px;
    margin-left: 26px;
    background-color: antiquewhite;
}

.about-heading {
    text-align: left;
    margin-left: 6px;
}

.about-paragraph {
    margin-left: 6px;
    text-wrap: wrap;
    
    padding-bottom: 15px;
}

.about-image {
    float: right;
    margin-right: 26px;
    height: 280px;
    overflow: clip;
    padding-bottom: 10px;
}

.paragraph-divider {
    border: 4px solid antiquewhite;
    background-color: antiquewhite;
    margin-top: 15px;
    margin-right: 26px;
    margin-left: 5px;
}

/* portfolio page styling */

.box-grouping {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

/* contact page styling */

.form-container-one {
    margin-right: 15px;
    margin-left: 15px;
}

.form-container {
    padding-top: 28px;
}
